<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>ALL HIVE SOLUTION</title>

  <!-- Custom fonts for this template-->
  <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="/css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon rotate-n-15">
        </div>
        <div class="sidebar-brand-text"><img src="../img/AHSlogo.png" width="120" height="50"></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="index.html">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>


      <li class="nav-item">
        <a class="nav-link" href="registration.html">
          <i class="fas fa-user"></i>
          <span>Registration Associate</span></a>
      </li>


      <!-- Nav Item - Pages Collapse Menu -->
      <!-- associate profile -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Associate Profile</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="buttons.html">My Profile</a>
            <a class="collapse-item" href="cards.html">Manage Profile</a>
            <a class="collapse-item" href="cards.html">Payment Option</a>
            <a class="collapse-item" href="cards.html">Change Password</a>
            <a class="collapse-item" href="cards.html">Change Transaction Password</a>
            <a class="collapse-item" href="cards.html">Upload KYC</a>
          </div>
        </div>
      </li>


      <!-- Marketplace -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>Marketplace Package</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="/MarketPlace/cryptomarketmembersgip.html">CRYPTO MARKET MEMBERSHIP</a>
        <a class="collapse-item" href="#">AHS SUPPORT CODE</a>
        <a class="collapse-item" href="#">AHS MARKETPLACE CODE</a>
        <a class="collapse-item" href="#">AHS COIN</a>
        <a class="collapse-item" href="#">CRYPTO CONVERSION</a>
        <a class="collapse-item" href="#">WORLDWIDE COMMUNITY</a>
        <a class="collapse-item" href="#">AHS SUPPORT COMMUNITY</a>
        <a class="collapse-item" href="#">AHS MARKETPLACE PRODUCTS</a>
        <a class="collapse-item" href="#">FRANCHISE</a>
        <a class="collapse-item" href="#">OFICAL TEAM</a>
        <a class="collapse-item" href="#">MY DESIGNATION</a>
        <a class="collapse-item" href="#">INVESTMENT PACKAGE</a>
        <a class="collapse-item" href="#">DONATION</a>
        <a class="collapse-item" href="#">ESCROW ACCOUNT</a>
        <a class="collapse-item" href="#">POINT ACCOUNT</a>
        <a class="collapse-item" href="#">PROMOTION CODES</a>
        <a class="collapse-item" href="#">OFFER</a>
        <a class="collapse-item" href="#">TRAINING/SEMINAR</a>
          </div>
        </div>
      </li>




            <!-- support commitment -->
            <li class="nav-item">
              <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fas fa-fw fa-cog"></i>
                <span>Support commitment</span>
              </a>
              <div id="collapse3" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">
                <a class="collapse-item" href="#">Give Support Request by</a>
                <a class="collapse-item" href="#">Give Support Request</a>
                <a class="collapse-item" href="#">Give Support Request Status</a>
                <a class="collapse-item" href="#">Give Support link reference</a>
                <a class="collapse-item" href="#">Get Support by</a>
                <a class="collapse-item" href="#">GET SUPPORT link reference</a>
                <a class="collapse-item" href="#">Given Support</a>
                <a class="collapse-item" href="#">Received Support</a>
                </div>
              </div>
            </li>

      <!-- Nav Item - Utilities Collapse Menu -->
     

      <!-- Divider -->
      <hr class="sidebar-divider">
      
      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>

    <div id="content-wrapper" class="d-flex flex-column">

      <div id="content">
      </div>
    </div>
  </div>



  <!-- Bootstrap core JavaScript-->
  <script src="/vendor/jquery/jquery.min.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="/js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="/vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="/js/demo/chart-area-demo.js"></script>
  <script src="/js/demo/chart-pie-demo.js"></script>

</body>

</html>
